@{
    ViewBag.Title = "Confirm Email";
}

<div>
    <p>
       حساب کاربری شما فعال سازی شد. لطفا با کلیک بر روی لینک روبرو وارد حساب وارد شوید : <span>@Html.ActionLink("بر روی این لینک کلیک کنید", "Login", "Accounts", routeValues: new { area="Account"}, htmlAttributes: null)</span>
    </p>
    
</div>
