@{
    ViewBag.Title = "Confirm Email Address Sent";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        لطفا آدرس ایمیل <span>@ViewBag.Email</span> را چک کنید. پیام فعال سازی برای شما ارسال شده است
    </div>
    
</div>  
